@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:wght@300;400;500;700&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Ubuntu', sans-serif
}
body{
    font-family: "Montserrat";
}

.container-fluid{
    padding: 3% 5%;
}

#title{
    color: #fff;
    background-color: #ff4c68;
}

/*      ============================== HEADERS =============================*/
h1{
    font-family: "Montserrat";
    line-height: 1.5;    
    font-weight: 900;
    font-size: 3.5rem;
}



/* navigation bar */
 
.navbar{
    padding-bottom: 4.5rem;
}

.navbar-brand{
    font-family: "ubuntu"; 
    font-size: 2.5rem;
    font-weight: 500;
}

.nav-item{
    padding: 0 18px;

}

.nav-link{
    font-size: 1.2rem;
    font-family:"Montserrat";
    font-weight: 400 ;
}


/* DOWNLOAD BUTTONS */

.download-btn{
    margin: 5% 2% 5% 0;
}


/* title image  */

.title-image{
    width: 50%;
    transform: rotate(25deg);
}

/* fetures */
#features{
    padding:7% 15%;
 }

.feature-box{
    text-align: center;
    padding: 5%;
}
 
.ft-title{
    font-family: "Montserrat";
    font-weight: bold;
}
.ft-para{ 
    color: #686767;
}

.fa-4x{
    color: #ef8172;
    margin-bottom: 1rem;
}
.fa-solid:hover{
    color: #ff4c68;
}

